.tm {
    .accordion {
       &__titles {
           padding-right: var(--space-lg);
       }
       &__img {
        width: 100%;
        height: auto;

        @include brkpnt-md {
            max-width: 225px;
        }
       }
    }
}