.cb {
    &.dark {
        background-color: var(--color-base-dark);
        color: var(--color-base-light);
    }
    &.light {
        background-color: var(--color-base-light);
        color: var(--color-base-darkest);
    }
    &__cols {
        display:flex;
        flex-direction: column;
        @include brkpnt-md {
            flex-direction: row;
        }
    }
    &__title {
        margin-bottom: var(--space-xl);
    }
    &__col {
        justify-content: flex-start;
        flex-direction: column;
        padding-left: var(--space-xl);
        border-left: 1px solid var(--color-accent-khaki);
        margin-bottom: var(--space-lg);
        width: 100%;  
        @include brkpnt-md {
            margin-bottom: var(--space-xxl);
        } 
    }
    &__text {
        font-size: var(--text-lg);
    }
    .staggered-content {
        img {
            max-width: 160px;
        }
        &__text {
            margin-top: var(--space-xl);
            font-size: var(--text-md);
            padding-left:0!important;
            @include brkpnt-md {
                max-width: 80%;
            }
        }
    }
    &__cta {
        margin-top: var(--space-md);
        text-align: center;
    }
    .emp {
        .staggered-content h2{
            color: var(--color-primary);
            font-size: var(--text-xxxl);
        }
    }
}