.crd {
    &.dark {
        background-color: var(--color-base-dark);
        color: var(--color-base-light);

        .card {
            background-color: var(--color-base-light);
            color: var(--color-base-darkest);
        }
        .btn-row {
            a {
                @include colorLinkDark();
            }
        }
        
    }
    &.light {
        background-color: var(--color-base-light);
        color: var(--color-base-darkest);

        .card {
            background-color: var(--color-base-dark);
            color: var(--color-base-light);
        }
        .btn-row {
            a {
                @include colorLinkWhite();
            }
        }
    }

    &__cols {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        @include brkpnt-md {
            flex-direction: row;
        }
    }
   
    &__col {
        &.l {
            @include brkpnt-md {
                max-width: 30%;
            }
        }
        &.r {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(18.625rem, 1fr));
            gap:3rem;
            @include brkpnt-md {
                grid-template-columns: 1fr 1fr;
                width: 65%;
            }
        }

        .card {
            position: relative;
            border-radius: 11px;
            padding: var(--space-xl) var(--space-md) var(--space-md);
            overflow: hidden;

            &__main {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height:100%;
                padding:0;
            }
            &__figure {
                max-width: 230px;
                position: absolute;
                top: -10%;
                right: -8%;
            }

            &__title {
                margin-top: var(--space-sm);
                font-size: var(--text-xl);
            }
            &__copy {
                font-size: var(--text-md);
                padding-right: var(--space-xl);
                line-height: 2.3rem;
            }
            &__actions {
                margin-top: var(--space-xl);
            }
        }
    }

   
}