.callout {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include brkpnt-md {
        flex-direction: row;
    }
    &__img {
        margin-top: var(--space-xl);
        margin-bottom: var(--space-xl);
        @include brkpnt-md {
            width: 40%;
            margin-top: 0;
            margin-bottom: 0;
            img{
                margin-left: -50%;
            }
        }
    }
    &__heading {
        font-size: var(--text-xxl);
    }
    &__content {
        @include brkpnt-md {
            max-width: 70%;
        }
    }
    &__cta-text {
        font-size: var(--text-lg);
    }
    &.center {
        justify-content: center;
        text-align: center;
        padding-top: var(--space-xxl);
    } 
    &.dark {
        background-color: var(--color-base-dark);
        color: var(--color-base-light);
    }
    &.light {
        background-color: var(--color-base-light);
        color: var(--color-base-darkest);
    } 

}