/*--------------------------------------------------------------
>>> COLORS - TABLE OF CONTENTS:
----------------------------------------------------------------
# Color Base - Charcoal
# Orange
# Aqua
# Helpers
--------------------------------------------------------------*/

:root {
  /*--------------------------------------------------------------
# Color Base - Charcoal
--------------------------------------------------------------*/
  --color-base-white: #fff;
  --color-base-lightest: #f3f3f3;
  --color-base-lighter: #f3f3f2;
  --color-base-light: #f3f3f1;
  --color-base: #747474;
  --color-base-dark: #2e3532;
  --color-base-darker: #232826;
  --color-base-darkest: #171a19;

  /*--------------------------------------------------------------
# Orange
--------------------------------------------------------------*/
  --color-primary-lightest: #fdc035;
  --color-primary-lighter: #ecb330;
  --color-primary-light: #e9b12f;
  --color-primary: #e6af2e;
  --color-primary-dark: #d3a029;
  --color-primary-darker: #c79727;
  --color-primary-darkest: #c09124;

  /*--------------------------------------------------------------
# Aqua
--------------------------------------------------------------*/
  --color-accent-primary: #25a9ba;
  --color-accent-rust: #d14e2a;
  --color-accent-khaki: #beb7a4;
  --color-accent-cooler-gray: #7b94c1;

  /*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
}
