.tcg {
    background-color: var(--color-base-dark);
    color: var(--color-base-light);
    display: grid;
    grid-auto-columns: 1fr;
    padding-right: 0;
    font-size: var(--text-lg);
    @include brkpnt-md {
        grid-auto-flow: column;
        min-height: 65vh;
        border-top: 1px solid var(--color-accent-khaki);
        border-bottom: 1px solid var(--color-accent-khaki);
        padding: 0;
    }
    .order-1 {
        order: 1;
        border-left: 1px solid var(--color-accent-khaki);
    }
    .order-2 {
        border-left: 1px solid var(--color-accent-khaki);
        @include brkpnt-md {
            order: 2;
        }
    }
    &__col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: var(--space-md);
        min-height: 45vh;
        @include brkpnt-md {
            border-left: unset;
            padding: var(--space-xl) var(--space-md);
        }
        &.gold {
            color: var(--color-primary); 
        }
        &.blue {
            color: var(--color-accent-cooler-gray); 
        }
        &.red {
            color: var(--color-accent-rust); 
        }
    }
    &__icon {
        img {
            max-width: 160px;
        }
    }
    &__col-2 {
        padding: var(--space-md);
        
    }
    &__inner {

    }
}