.flf {
    position: fixed;
    bottom: 5%;
    right: -100vw;
    max-width: 330px;
    background-color: var(--color-base-dark);
    z-index: 9999;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    overflow: hidden;
    transition: all 0.8s var(--easing);


    &__close {
        border-bottom-right-radius: 20px;
    }
    &__text {
        color: var(--color-base-white);
        padding: var(--space-sm) var(--space-lg) 0;
    }
    &.show-flf {
        right:10px;
        transition: 2s;
    }
    .ginput_container_textarea {
        textarea {
            height: 150px!important;
        }
    }
    .gform_confirmation_wrapper {
        height: 432px!important;
    }
    .gform_body {
        padding-bottom: 0!important;
    }
    .gform_footer {
        padding-top: 0!important;
    }
    .gform-field-label {
        font-size: var(--text-sm)!important;
    }
    .gform_wrapper {
        padding-top:0!important;
        padding-bottom:var(--space-sm)!important;

        form {
            transition: 2s;
            &.shrink-flf {
                height: 0;
            }
        }
    }
    
}