 /* Styles for posts page */

.home-blog {

    .page-hero {
        position: relative;
        background-image: url(../images/int-hero.jpg);
        background-size: cover;
        background-position: top center;
        background-color: $color-white;
        z-index:9;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color-overlay-gray;
        }

        .page-hero-overlay {
            position: relative;
            padding: 100px 0 100px;
            max-width: 1140px;
            margin: 0 auto;
            z-index:9;

            @include media-breakpoint-up(lg) {
                padding: 140px 0 140px;
            }

            .page-title {
                color: $color-white;
                text-align: center;
            }
        } 
    }

    .breadcrumb-wrapper {
        position: relative;
        color: $color-white;
        padding-top: 10px;
        padding-bottom: 15px;
        transform: translateY(-100%);
        text-align: center;
        z-index:9;
    }
}