/* Styles for Resources page */

.page-resources {

    .resource-container {
        padding: 20px 50px;
        
        .resource {

            .resource-image {
                border: 2px solid $color-black;
                border-radius: 5px;
                padding: 15px;
            }

            .download {
                display: block;
                margin: 0 auto;
            }
        }
    }

    .modal {

        .modal-dialog {
            margin: 20vh auto;

            @include media-breakpoint-up(md) {
                max-width: 800px;
                margin: 25vh auto;
            }

            .modal-content {
                border-radius: 5px;

                .modal-header {
                    border:none;

                }

                .modal-body {

                    @include media-breakpoint-up(md) {
                        display:flex;
                    }

                    .image-desc {
                        max-width: 350px;
                        padding: 25px;

                        img {
                            margin-bottom: 15px;
                        }
                    }
                    .gform {
                        width: 100%;
                        padding: 25px;
                    }
                }

                .modal-footer {
                    border:none;
                }
            }
        }
    }
}