/* 
 * Styles for Resources page 
 */

.page-resources {

    .resource-container {
        
        .resource {
            text-align:center;

            @include media-breakpoint-up(lg) {
                text-align: left;
            }

             // hover arrow style
             &:hover {

                .resource-show-more {

                    &:after {
                        margin-left: 10px;
                        @include transition();
                    }
                }
            }

            .resource-image {
                border: 2px solid $color-black;
                border-radius: 5px;
                padding: 15px;
            }

            .resource-title {
                padding-top: 2rem;
                color: $color-red;
                font-weight: bold;
                letter-spacing: 1.5px;
                margin-bottom: 0;
                font-size: 1.6rem;
            }

            .resource-show-more {
                position: relative;
                display:block;
                padding-bottom: 2rem;
                font-size: 1.5rem;

                // arrow style
                &:after {
                    content: '';
                    background: url(../images/arrow.svg) no-repeat 100%;
                    position: absolute;
                    width: 13px;
                    height: 14px;
                    top: 6px;
                    margin-left: 5px;
                    @include transition();
                }
            }
        }
    }
}

.single-resource {

    .thumbnail-container {
        
        img {
            max-width: 200px;
        }
    }
}