/* Styles for Resources page */

.page-resources {

    .resource-container {
        padding: 20px 50px;
        
        .resource {

            .resource-image {
                border: 2px solid $color-black;
                border-radius: 5px;
                padding: 15px;
            }

            .download {
                display: block;
                margin: 0 auto;
            }
        }
    }
}