/* Brand Colors */
$color-white: #fff;
$color-black: #000;
$color-red: #b20f1a;
$color-gray: #5f6062;

/* Transparent Overlay Colors */
$color-overlay-gray: #0000008c;


/*Gradient colors*/
$dark-gray-gradient: linear-gradient(180deg, #313131 0%, #2b2b2b 31%, #151515 100%);

/* Background Colors */
.bg-red {
    background-color: $color-red;
    color: $color-white;
}

