body {
	font-size: 1.9rem;
	background: #d8d8d8;
	max-width: 1680px;
    margin: 0 auto;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include archivo-regular;
}
html {
	font-size: 10px; // Set base font size for rem use
}
html,body {
	//-webkit-overflow-scrolling : touch !important;
	//overflow: auto !important;
	//height: 100% !important;
}

h1 { 
	font-size: 3.5rem;
	@include archivo-bold;
	
	@include media-breakpoint-up(md) {
		font-size: 6.5rem;
	}
}
h2 { 
	font-size: 3rem; 
	margin: 3rem 0 2rem; 
	@include archivo-bold;

	@include media-breakpoint-up(md) {
		font-size: 4rem;
	}
}
h3 { 
	font-size: 2.5rem; 
	margin: 2rem 0 1.75rem; 
	@include archivo-bold;

	@include media-breakpoint-up(md) {
		font-size: 3rem;
	}
}
h4 { 
	font-size: 1.12em; 
}
h5 { 
	font-size: .83em; 
}
h6 { 
	font-size: .75em; 
}

a {
	color: $color-red;
	transition: .3s;

	&:hover {
		color: $color-gray;
		text-decoration: none!important;
		transition: .3s;
	}

	img {
		width:100%;
	}
}
//google maps iframes
.responsive {
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
	max-width: 100%;
	margin-bottom: 40px;
	
	iframe {
		border: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

//custom ul/li {
ul:not(.navbar-nav) {
	padding-left: 0;

	li:not(.menu-item):not(.list):not(.gfield) {
		list-style: none;
		position: relative;
		padding: 0 0 0 20px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 7px;
			width: 10px;
			height: 10px;
			background-color: $color-red;
			border-radius: 50%;
		}

		ul {

			li:not(.menu-item):not(.list) {
				list-style: none;
				position: relative;
				padding: 0 0 0 20px; 

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 7px;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					border: 2px solid $color-gray;
					background-color: transparent;
				}
			}
		}
	}
}

img {
	height: auto;
	max-width: 100%;
}

picture{

	img {
		width: 100%;
	}
}
button:focus {outline:0;}
// WordPress Default Image Positioning Classes
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.has-hiding {
	@include transition();
}

.hiding {
	opacity: 0;
}

.site-main {

	background-color: #fff;
}

// Hire an expert button postioned lower right

.btn-float {
	display:none;

	@include media-breakpoint-up(md) {
		display:block!important;
		position: fixed;
		bottom: 0;
		right: 0;
		margin: 0 35px 20px 0;
		box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.58);
	}
}