/* Input Placeholder Color */
@mixin inputPlaceholder($color) {
	&::-webkit-input-placeholder { color: $color; }
	&::-moz-placeholder { color: $color; }
	&:-ms-input-placeholder { color: $color; }
	&:-moz-placeholder { color: $color; }
}

/* List Reset */
@mixin resetList() {
	list-style: none;
	padding: 0;
	margin: 0;
}
@mixin resetButton() {
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	padding: 0;
	background: transparent;
}
@mixin resetField(){
	-webkit-appearance: none;
	border: 0;
	padding: 0;
	background: transparent;
}

@mixin transition($property: all, $timing: .3s, $easing: ease){
	transition: $property $timing $easing;
}

/* 2D Transform - Translate */
@mixin translate($translate-x, $translate-y) {
	transform: translate($translate-x, $translate-y);
}

/* RGBA Colors */
@mixin background-opacity($color, $opacity: 0.3) {
	background-color: $color;
	background-color: rgba($color, $opacity);
}

/* Columns */
@mixin column($columns, $gap) {
	column-count: $columns;
	column-gap: $gap;
}

/* Absolute positioning over images/divs */
@mixin floatOverImage() {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fullwidthFix() {
	
	@include media-breakpoint-up(xxl) {
        max-width: 1680px;
        margin: 0 auto;
        left: -20%;
    }
}