/*--------------------------------------------------------------
>>> Links:
----------------------------------------------------------------
# Inline
# Link w/arrow
----------------------------------------------*/

/*--------------------------------------------------------------
# Link - Inline styling
--------------------------------------------------------------*/
a {
  color: var(--color-base-darkest);
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: rem(1);
  background-color: transparent;
  transition: color var(--timing) var(--easing), background-color var(--timing) var(--easing);

  &:visited {
    color: var(--color-primary-darkest);
    text-decoration-color: var(--color-primary-darkest);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--color-primary);
  }

  @media print {
    &::after {
      content: " (" attr(href) ") ";
    }
  }
}

/*--------------------------------------------------------------
# Link w/arrow
--------------------------------------------------------------*/
.arrow {
  position: relative;
  text-decoration: none;
  font-size: var(--text-md);
  text-transform: uppercase;
  @include font-settings(var(--font-tertiary), 400);
  
  svg {
    max-height: 17px;
  }
}

 