/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/

.header {
  &__logo-outer {
    max-width: 230px;
    display: flex;
    align-items: center;
    order: 2;
    margin-right: var(--space-sm);
    padding: var(--space-sm);
    transition: .8s;

    @include brkpnt-md {
      order: 1;
      padding:unset;
    }

    .custom-logo-link {
      display: flex;

      .custom-logo {
        width: 100%;
        height: auto;
      }
    }
  }
}
