.block-cards {
    padding:50px 0;

    .cards-outer {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        background-color: $color-light-gray;

        @include fullwidthFix();

        @include media-breakpoint-up(lg) {
            background-image: url(../images/int-hero.jpg);
        }

        .section-title {
            padding: 40px 20px;
            text-align: center;
            color: $color-white;
        }

        .cards-inner {
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include media-breakpoint-up(lg) {
                flex-direction: row;
            }


            .card-container {
                max-width:383px;
                margin:25px 37px;
                transition: .4s;
    
                .card-shadow {
                    display:block;
                    transition: .4s;
                    
                    .thumbnail-wrap {
                        position: relative;
    
                        .thumbnail {    
                            margin:0;
                            overflow: hidden;
                            height: 248px;
                            background-color: $color-gray;
            
                            img {
                                width: 100%;
                                height: auto;
                                transition: transform .4s ease-in-out;
                                filter: grayscale(30%);
                                // transition: .3;
                            }
    
                            &:before {
                                content: '';
                                background-color: #00000082;
                                position: absolute;
                                z-index: 1;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                            }
                        } 
    
                        .card-title {
                            text-align: center;
                            font-size: 20px;
                            letter-spacing: 0.16px;
                            line-height: 30px;
                            transition: .3s;
                            color:$color-white;
                            z-index: 9;
                            padding: 0 20px;
    
                            @include floatOverImage();
                        }
                    }
                    
                    .inner {
                        background-color:rgba(49,49,49,.5);
                        min-height: 283px;
                        padding: 10px 20px;
                        transition: .3s;

                        @include media-breakpoint-up(lg) {
                            padding: 30px;
                        }
        
                        .card-description {
                            color:$color-white;
                            margin-bottom:0;
                            transition: .3s;
                        }
                    }
                    
                    &:hover {
                  
                        .thumbnail {
                   
                            img {
                                transform: scale(1.05);
                                transition: .3s;
                                filter: grayscale(5%);
                            }
                        }

                        .inner {
                            background-color:rgb(49,49,49);
                            transition: .3s;
                        }

                        /*SVG style on hover*/
                        // svg {
                        //     path {
                        //         fill:$color-red;
                        //         stroke:$color-red;
                        //         transition: .4s;
                        //     }
                        // }
                    }
                }
            }
        }
    }
}