/* Styles for Value Prop loop blocks */

.value-proposition {

    .value-outer {
        padding:6px;

        .value-inner {
            background-color: #eee;
            padding: 25px;
            min-height: 260px;
            border-radius: 5px;

            p {
                text-align: center;
            }

            &:hover {
                box-shadow: -2px 9px 41px -9px #000000;
                transition: .4s;
                background-color: #eee;
            }
        }
    }
}