/*--------------------------------------------------------------
>>> FOOTER - Sitewide
--------------------------------------------------------------*/
.footer {
  background-color: var(--color-base-darkest);
  padding: var(--space-xl) var(--space-lg) var(--space-lg);

  @media print {
    display: none;
  }

  &__main {
    position: relative;
    padding: var(--space-md) 0 var(--space-lg);
    color: var(--color-base-light);
    display: flex;
    flex-direction: row;
    line-height: 1.2rem;
    flex-wrap: wrap;

    @include brkpnt-md {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  a {
    color: var(--color-base-light);
    text-decoration-color: var(--color-base-white);
    &:hover {
      color: var(--color-primary);
    }
  }

  &__a, &__b, &__c, &__d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    @include brkpnt-md {
      width: 100%;
      align-items: center;
    }
  }

  &__a {
    order: 2;
  }

  &__b {
    order: 1;
  }

  &__c {
    order: 3;
  }

  &__d {
    order: 3;
   p{
    line-height: 2rem;
   }
  }

  .footer-menu {
    &__title {
      color: var(--color-accent-khaki);
      text-transform: uppercase;
      @include machina();
    }
    &__list {
      margin-left:0;
    }
    &__item {
      padding-left: 0;
      margin-bottom: var(--space-md);
        a {
          text-decoration: none;
        }
    }
  }
  .socials {
    padding: var(--space-sm) 0;
    margin: 0;
    @include brkpnt-md {
      padding: var(--space-sm) 0 0;
    }
    .socials__social {
      padding: 0 1rem;
      a {
        &:before {
          background-color: var(--color-accent-khaki);
        }
        &:hover {
          &:before {
            background-color: var(--color-primary);
          }
        }
      }
    }
  }  

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: rem(8);
    line-height: 1.2rem;
    font-size: var(--text-sm);
    text-align: center;
    padding-top: 1rem;
    color: var(--color-base-light);
  }

  &__bl, &__br {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    @include brkpnt-md {
      flex-direction: row;
    }
  }


}
